<html>
<head>
	<title>Garrett Van Neste</title>
	<!-- Bootstrap CDN -->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
    <!-- Theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap-theme.min.css">
</head>
<body>

	<div class='container'>
		<div class='row links'>
			<a href='/mains' style='color: black'>Home</a>
			<a href='/projects' style='color: black'>Projects</a>
			<a href='/contact' style='color: black'>Contact</a>
		</div>
		<div class='row projects'>
			<div class='col-md-6 col-md-push-1'>
				<a href='/circles' target='_blank'><img alt='circles' src='assets/bubblesMac.png' class='project_pic project_link'></a>
			</div>
			<div class='col-md-4'>
				<h2>JavaScript Circles</h2>
				<p>
					Object oriented programming in JavaScript.  Click the screen to create a circle.  The longer the click, the larger the circle.  Color randomly assigned to each circle.
				</p>
				<button class='btn btn-success btn-xs'>JavaScript</button>
				<button class='btn btn-success btn-xs'>OOP</button>
				<button class='btn btn-success btn-xs'>SVG</button>
			</div>
		</div>
		<div class='row projects'>
			<div class='col-md-6 col-md-push-1'>
				<img alt='myFace' src='assets/myFaceMac.png' class='project_pic'>
			</div>
			<div class='col-md-4'>
				<h2>MyFace</h2>
				<p>
					End-to-end social media application built in Ruby on Rails.  Facebook clone, allowing users to create a profile, post status updates, connect with friends, write on each others' walls, 'like'/'unlike' things, and view a news feed of their friends' activities.
				</p>
				<button class='btn btn-success btn-xs'>Ruby on Rails</button>
				<button class='btn btn-success btn-xs'>SQLite</button>
				<button class='btn btn-success btn-xs'>jQuery</button>
				<button class='btn btn-success btn-xs'>HTML/CSS3</button>
				<button class='btn btn-success btn-xs'>Bootstrap</button>
			</div>
		</div>
		<div class='row projects'>
			<div class='col-md-6 col-md-push-1'>
				<img alt='myFace' src='assets/allergyFinderMac.png' class='project_pic'>
			</div>
			<div class='col-md-4'>
				<h2>Allergent</h2>
				<p>
					End-to-end data analysis application.  Allows a user to create a profile, enter in meals (including ingredients) they have eaten.  Upon a food intolerance reaction, they can select the type of reaction and severity which then queries the database for the most recent meal eaten and assigns a reaction to its associated ingredients.  The User can analyze the data via a table of all ingredients consumed by the user and their frequency for causing reactions, allowing the user to pinpoint what exactly makes them sick.  Worked in team of two.
				</p>
				<button class='btn btn-success btn-xs'>Ruby on Rails</button>
				<button class='btn btn-success btn-xs'>SQLite</button>
				<button class='btn btn-success btn-xs'>Highcharts</button>
				<button class='btn btn-success btn-xs'>jQuery</button>
				<button class='btn btn-success btn-xs'>HTML/CSS3</button>
				<button class='btn btn-success btn-xs'>Bootstrap</button>
			</div>
		</div>
		<div class='row projects'>
			<div class='col-md-6 col-md-push-1'>
				<img alt='myFace' src='assets/dinoFinderMac.png' class='project_pic'>
			</div>
			<div class='col-md-4'>
				<h2>DinoFinder</h2>
				<p>
					First full stack application, built in team of three, provided for fundamental understanding of using Github.  E-commerce store where users can browse/purchase pet dinosaurs along with any supplies they may require.  Related items appear in searches of other items.  Users can track past purchases if they have an account.
				</p>
				<button class='btn btn-success btn-xs'>LAMP</button>
				<button class='btn btn-success btn-xs'>MYSQL</button>
				<button class='btn btn-success btn-xs'>jQuery</button>
				<button class='btn btn-success btn-xs'>HTML/CSS3</button>
			</div>
		</div>
	</div>

</body>
</html>