<!DOCTYPE html>
<html lang="en">

<html>
<head>

	<meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

	<title>Chef Jacob Thompson</title>
	<link rel="stylesheet" href="bootstrap-3.3.6-dist/css/bootstrap.css" type="text/css">
	<link href='https://fonts.googleapis.com/css?family=Merriweather+Sans' rel='stylesheet' type='text/css'>
	<link href='https://fonts.googleapis.com/css?family=Kaushan+Script' rel='stylesheet' type='text/css'>

	<!-- Bootstrap Core CSS -->
    <!-- <link rel="stylesheet" href="assets/bootstrap.min.css" type="text/css"> -->

    <!-- Custom CSS -->
    <link rel='stylesheet' href='assets/style.css' type='text/css'>

</head>
<body>

<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">Chef Thompson</a>
    </div>
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav navbar-right">
        <li><a href="#menu">Menu</a></li>
        <li><a href="#cleanse">Cleanse</a></li>
        <li><a href="#about">About</a></li>
        <li><a href="#contact">Contact</a></li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>

<header>
	<div class='header-content'>
		<h1>Chef Jacob B. Thompson</h1>
		<h3>Healing people through healthy, nourishing food.</h3>
		<a href="#contact" style="color: white;"><button class='btn btn-contact'>CONTACT ME</button></a>
	</div>
</header>

<div class="container-fluid">
<!-- 	<button class='btn' style='background-color: #666666'>Color Sample</button>
	<button class='btn' style='background-color: #f9f9f9'>Color Sample</button>
	<button class='btn' style='background-color: #5bbc2e'>Color Sample</button> -->
	<div class='row about' id="about"> 
		<h1>ABOUT CHEF THOMPSON</h1>
		<div class='col-md-3 about-left'>
			<img class='jake' alt='jake' src='assets/jake.png'>
		</div>
		<div class='col-md-9 about-right'>
			<p>
				"Food heals." - At age thirteen I learned this powerful truth when my sister was diagnosed as a type 
				one diabetic. I began to explore her new diet and slowly pushed my mom out of the 
				kitchen in order to teach myself the palliative qualities of food and bring 
				nourishment into my family. My passion for therapeutic and mindful food 
				preparation grew and my path lead me to Bauman College of Holistic Nutrition 
				and Culinary Arts, where I graduated as a certified natural chef. My experience has 
				developed with time and a few jobs opportunities preparing farm-to-table meals at 
				Frog Belly Farm and working in multiple farm-to–table style restaurants in 
				Boulder, Colorado.
			</p>
			<p>
				Through this time of learning and growing in the culinary world I've developed a 
				passion for catering to an individual’s unique food intolerances and requirements. I 
				believe in creating possibilities out of limitations. When a client learns about his or 
				her newly discovered intolerances or allergies, it is my pleasure to help the client find 
				optimism and happiness by planning and providing mindful, nourishing and 
				delicious meals. My services range from food preparation and delivery, to cooking 
				classes, and grocery store education.
			</p>
			<p>
				Working together, I look forward to bring joy into your food.
			</p>
		</div>
	</div>
	<div class='row menu' id="menu">
		<h1>MENU</h1>
		<p>
			There will be a total of three deliveries during the 21 day cleanse. Each including 21 
			meals and 14 snacks that will be prepared in a gluten free kitchen, cooled properly, 
			and packaged into mason jars for delivery.
		</p>
		<div class='row inner-menu'>
			<h3>Meal Examples:</h3>
			<div class='col-md-3'>
				<h4>Breakfast:</h4>
				<p>Parsnip hash with turkey breakfast sausage topped with avocado mayo.</p>
			</div>
			<div class='col-md-3'>
				<h4>Lunch:</h4>
				<p>Butternut squash patties with roasted garlic and sauted kale topped with lamb.</p>
			</div>
			<div class='col-md-3'>
				<h4>Dinner:</h4>
				<p>Slow braised chicken leg with cauliflower mash.</p>
			</div>
			<div class='col-md-3'>
				<h4>Snacks:</h4>
				<p>Kale chips, Bone broth, homemade beef jerky.</p>
			</div>
		</div>
		<div class='row inner-menu'>
			<h3>Included in the Service:</h3>
			<ul class='services'>
				<li>Specialized meal plan</li>
				<li>Shopping</li>
				<li>Cooking/cooling/packaging</li>
				<li>Home delivery</li>
			</ul>
			<br>
			<p style='font-style: italic;'>
				*Items will be individually packaged with easy instructions on how to reheat.*
			</p>
		</div>
	</div>
	<div class="row cleanse about" id="cleanse">
		<h1>21 DAY ANTI-INFLAMMATORY CLEANSE</h1>
		<p>
			Most of us have symptoms of inflammation, on the low underlying side we may
			experience brain fog, head aces, nausea, low energy, poor food cravings and many
			others that we are all accustomed to and don’t notice until the inflammation is
			removed. When inflammation is high we experience all of the underlying symptoms
			plus very low vitality, chronic muscle or arthritic pains, chronic fatigue, low sex
			drive, irregular sleeping patterns . These are just some of the most common
			symptoms, if you can identify with some or all, this 21 day anti inflammatory
			cleanse is a wonderful place to start “healing” your gut and giving your body the
			nourishment it needs.
		</p>
		<p>
			During the 3 weeks, all possible inflammatory foods will be removed from your diet
			including: grains, dairy, nuts/ seeds, legumes, high glycemic fruits, nightshades
			(potatoes, tomatoes, chilis), eggs, sugar, alcohol, caffeine. The only cooking oils used
			are short chained monounsaturated fats such as coconut, olive, and avocado oil. The
			produce used during the 3 weeks is 100% organic, assuring there are no pesticides
			or herbicides, plus organic vegetables typically have a higher nutritional value than
			its conventional counterpart. All proteins will be of the highest quality, using only
			humanely raised, grass fed, free range/ pastured, antibiotic and hormone free
			animal products. Every meal and snack is consciously prepared in the healthiest
			manner possible, using only the highest quality ingredients.
		</p>
		<p>
			After the cleanse is over, you will have reduced your bodies inflammation. Two of
			the most significant benefits of choosing this cleanse for your next step; your blood
			sugar levels will regulate themselves, which allows your adrenal glands to rest and
			restore as well. Once the symptoms of inflammation are no longer present, we are
			able to see and feel our real potential for a life of high vitality.
		</p>
	</div>
	<div class="row contact menu" id="contact">
		<h1>CONTACT INFORMATION</h1>
		<div class='col-md-12'>
			<h4><span style="font-weight: bold">Phone: </span><a href="tel:360-513-8579">(360) 513-8579</a></h4>
			<h4><span style="font-weight: bold">Email: </span><a href="mailto:jakesbumbubali@gmail.com">jakesbumbubali@gmail.com</a></h4>
		</div>
	</div>
</div>

</body>
</html>