<html>
<head>
	<title>Garrett Van Neste</title>
	<!-- Bootstrap CDN -->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
    <!-- Theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap-theme.min.css">
</head>
<body>

	<div class='container'>
		<div class='row links'>
			<a href='/mains' style='color: black'>Home</a>
			<a href='/projects' style='color: black'>Projects</a>
			<a href='/contact' style='color: black'>Contact</a>
		</div>
		<div class='row'>
			<div class='col-md-12'>
				<h1>Contact Information</h1>
				<h4>Phone Number: (360) 931-5842</h4>
				<h4>Email: Garrett56x@gmail.com</h4>
				<a title='GitHub' target='_blank' href='https://github.com/garrett56x'><img alt='github' src='assets/octocat.jpg' class='octocat'></a>
				<a title='LinkedIn' target='_blank' href='https://www.linkedin.com/pub/garrett-van-neste/8a/234/426
'><img alt='linkedIn' src='assets/linkedIn.png' class='linkedIn'></a>
			</div>
		</div>
	</div>

</body>
</html>