body{
    font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
    background-color: #e7e7e7;
}

nav.navbar{
    margin-bottom: 0px !important;
}

header {
    position: relative;
    width: 100%;
    min-height: auto;
    color: #fff;
    background-image: 
    linear-gradient(
        rgba(0, 0, 0, 0.45), 
        rgba(0, 0, 0, 0.45)
        ), url(header_image.jpg);
    background-position: center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}

header .header-content {
    position: relative;
    width: 100%;
    padding: 10px 30px;
    min-height: 400px;
    text-align: center;
    margin-top: 50px;
}

header .header-content h1 {
    font-family: 'Kaushan Script', cursive;
    text-transform: uppercase;
    font-weight: 700;
    text-shadow: 1px 1px #000000;
    margin-top: 120px;
}

header .header-content h3{
    text-shadow: 1px 1px #000000;
}

.btn-contact{
    margin-top: 20px;
    width: 200px;
    background-color: #5bbc2e;
    font-weight: bold;
}

.btn-contact:hover{
    background-color: #50a526;
    color: white;
}

.about{
    padding: 60px;
    background-color: #F7F7F7;
}

img.jake{
    margin-top: 5px;
    height: 200px;
    width: 200px;
    border-radius: 3px;
}

.about-left{
    text-align: center;
}

.about-right{
    font-size: 15px;
}

.menu{
    padding: 60px;
}
    .menu p{
        font-size: 15px;
    }
    .inner-menu{
        padding: 0px 15px;
    }

.services li{
    font-size: 15px;
}